# Environment variables
.env
.env.*

# Backup / file sementara
*.zip
*.tar
*.tar.gz

# Editor / OS
.DS_Store
.vscode/

# key
private-key.pem
digital-certificate.txt

# Editor swap files
*.swp
*.*.swp
