COMPOSE_PROJECT_NAME=erp-kedua
ERP_VERSION=v16
MARIADB_VERSION=10.6

DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=password_anda
ADMIN_PASSWORD=password_anda

# WAJIB SAMA dengan nama service di YAML
REDIS_CACHE=redis-cache-2:6379
REDIS_QUEUE=redis-queue-2:6379

SOCKETIO_PORT=9000
FRAPPE_SITE_NAME_HEADER=site2.domain.com
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1
